<!DOCTYPE html>
<html lang="en">
    <head><title>BC Prediction</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link href="css/bootstrap.css" rel="stylesheet">  
<link rel="stylesheet" href="static/css/s4css.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
/* .fa-anchor,.fa-coffee {font-size:200px} */

.head{
    background-image: url("static/images/pic2mod.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
</style>
<body>
    <!--nav bar-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#aboutpg">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="visualization">Visualization</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Models for Prediction
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="logistic-regression">Logistic Regression</a>
                  <a class="dropdown-item" href="decision-tree">Decision Tree</a>
                  <a class="dropdown-item" href="random-forest">Random Forest</a>
                </div>
              </li>
          </ul>
        </div>
      </nav>
  

<!-- Header -->
<header class="w3-container w3-blue w3-center head" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Breast Cancer Prediction</h1>
  <p class="w3-xlarge">Using Machine Learning</p>
  <!-- <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</button> -->
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Cancer: Just Beat It!</h1>
      <h5 class="w3-padding-32 txt1">With being the most common type of cancer in women, breast cancer accounts for 14% of cancers in Indian women. It is reported that with every four minutes, an Indian woman is diagnosed with breast cancer. Breast cancer is on the rise, both in rural and urban India. 
        Cancer survival becomes more difficult in higher stages of its growth, and more than 50% of Indian women suffer from stage 3 and 4 of breast cancer. Post cancer survival for women with breast cancer was reported 60% for Indian women
        The very reason for a low breast cancer survival rate of women in India accounts from its lack of awareness and poor early screening and diagnosis rates. 
        </h5>

      <p class="w3-text-grey txt2">The survival rates of breast cancer in India are low because the detection takes place late. The only way to change these numbers is by increasing awareness. Breast cancer is a treatable disease and chances of survival are higher if it’s detected in time. The only way to do so is by being aware of how it can be detected and early diagnosis can be done. </p>
    </div>

    <div class="w3-third w3-center">
      <img src="static/images/pic5mod.jpg" alt="BC Stages" width="250" height="580" class="fa fa-anchor w3-padding-64 w3-text-red">
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <img src="static/images/pic7.png" alt="BC Stages" width="200" height="350" class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right">
    </div>

    <div class="w3-twothird">
      <h1 id="aboutpg">About</h1>
      <h5 class="w3-padding-32 txt1">This project is a web application predicting breast cancer using machine learning model. Three algorithms are used to create ML models. According to the input values from the user the tumour would be predicted as benign(harmless) or malignant(harmful).</h5>

      <p class="w3-text-grey list1">Created By:
        <ul class="w3-text-grey list1">
        <li>Savani Dalvi</li>
        <li>Snehal Kamble</li>
        <li>Snehal Mane</li>
        <li>Devika Nair</li></ul>
      </p>
    </div>
  </div>
</div></div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">“There can be life after breast cancer. The prerequisite is early detection.”</h1>
</div>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
</body>
</html>
